<p class="mt-5 mb-7 text-muted" style="text-align:center; color: #916319">Powered by <a
            href="mailto:mauricejuniorimele@yahoo.fr">Maurice Junior Tchangue Imele</a></p>
<p class="mt-2 mb-2 text-muted" style="text-align:center; color: #916319">&copy; 2017-2018</p>