

img{
    border-radius: 10px;
    transform: translate(10px, 5px);
}


body {
    //background-image:radial-gradient(ellipse, #e9f2d9, #bed4c5, #6b6d6e);
    align-items: center;
    justify-content: center;

}

.container{
    max-width: 70rem;
}

.blog-main h2{
    margin-top: 60px;
}

.container #postTitle{
    margin-top: 60px;
}

.metadata{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 10px 10px 10px;
    border: 1px solid;
    border-radius: 10px;

}

.metadata:hover{
    transition: text-shadow;
}

nav {
    position: fixed;
    text-shadow: #6b6d6e;
}

.card {
    margin-top: 40px;
    margin-left: 20px;
}

.col-sm-4 .offset-sm-1 .blog-sidebar{
    width:100%;
}

li ul{
    display: inline;
}






