{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h2>Titre de l'article 1</h2>
        <div>
            <img src="https://via.placeholder.com/350x150"/>
        </div>
        <span><b>Auteur :</b> Junior</span><br>
        <span><b>Publi&eacute; :</b> 10.09.2018</span><br>
        <span><b>Cat&eacute;gorie :</b> Politique</span><br>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
        <br><br>
        <h2>Titre de l'article 2</h2>
        <div>
            <img src="https://via.placeholder.com/350x150"/>
        </div>
        <span><b>Auteur :</b> Junior</span><br>
        <span><b>Publi&eacute; :</b> 10.09.2018</span><br>
        <span><b>Cat&eacute;gorie :</b> Sant&eacute;</span><br>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
{% endblock %}
